{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2017-10-26",
    "endpointPrefix":"transcribestreaming",
    "protocol":"rest-json",
    "protocolSettings":{"h2":"eventstream"},
    "serviceFullName":"Amazon Transcribe Streaming Service",
    "serviceId":"Transcribe Streaming",
    "signatureVersion":"v4",
    "signingName":"transcribe",
    "uid":"transcribe-streaming-2017-10-26"
  },
  "operations":{
    "StartMedicalStreamTranscription":{
      "name":"StartMedicalStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/medical-stream-transcription"
      },
      "input":{"shape":"StartMedicalStreamTranscriptionRequest"},
      "output":{"shape":"StartMedicalStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    },
    "StartStreamTranscription":{
      "name":"StartStreamTranscription",
      "http":{
        "method":"POST",
        "requestUri":"/stream-transcription"
      },
      "input":{"shape":"StartStreamTranscriptionRequest"},
      "output":{"shape":"StartStreamTranscriptionResponse"},
      "errors":[
        {"shape":"BadRequestException"},
        {"shape":"LimitExceededException"},
        {"shape":"InternalFailureException"},
        {"shape":"ConflictException"},
        {"shape":"ServiceUnavailableException"}
      ]
    }
  },
  "shapes":{
    "Alternative":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"String"},
        "Items":{"shape":"ItemList"},
        "Entities":{"shape":"EntityList"}
      }
    },
    "AlternativeList":{
      "type":"list",
      "member":{"shape":"Alternative"}
    },
    "AudioChunk":{"type":"blob"},
    "AudioEvent":{
      "type":"structure",
      "members":{
        "AudioChunk":{
          "shape":"AudioChunk",
          "eventpayload":true
        }
      },
      "event":true
    },
    "AudioStream":{
      "type":"structure",
      "members":{
        "AudioEvent":{"shape":"AudioEvent"}
      },
      "eventstream":true
    },
    "BadRequestException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":400},
      "exception":true
    },
    "Boolean":{"type":"boolean"},
    "Confidence":{"type":"double"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":409},
      "exception":true
    },
    "ContentIdentificationType":{
      "type":"string",
      "enum":["PII"]
    },
    "ContentRedactionType":{
      "type":"string",
      "enum":["PII"]
    },
    "Double":{"type":"double"},
    "Entity":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Category":{"shape":"String"},
        "Type":{"shape":"String"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"}
      }
    },
    "EntityList":{
      "type":"list",
      "member":{"shape":"Entity"}
    },
    "InternalFailureException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "Item":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Type":{"shape":"ItemType"},
        "Content":{"shape":"String"},
        "VocabularyFilterMatch":{"shape":"Boolean"},
        "Speaker":{"shape":"String"},
        "Confidence":{"shape":"Confidence"},
        "Stable":{"shape":"Stable"}
      }
    },
    "ItemList":{
      "type":"list",
      "member":{"shape":"Item"}
    },
    "ItemType":{
      "type":"string",
      "enum":[
        "pronunciation",
        "punctuation"
      ]
    },
    "LanguageCode":{
      "type":"string",
      "enum":[
        "en-US",
        "en-GB",
        "es-US",
        "fr-CA",
        "fr-FR",
        "en-AU",
        "it-IT",
        "de-DE",
        "pt-BR",
        "ja-JP",
        "ko-KR",
        "zh-CN"
      ]
    },
    "LanguageIdentification":{
      "type":"list",
      "member":{"shape":"LanguageWithScore"}
    },
    "LanguageOptions":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[a-zA-Z-,]+"
    },
    "LanguageWithScore":{
      "type":"structure",
      "members":{
        "LanguageCode":{"shape":"LanguageCode"},
        "Score":{"shape":"Double"}
      }
    },
    "LimitExceededException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":429},
      "exception":true
    },
    "MediaEncoding":{
      "type":"string",
      "enum":[
        "pcm",
        "ogg-opus",
        "flac"
      ]
    },
    "MediaSampleRateHertz":{
      "type":"integer",
      "max":48000,
      "min":8000
    },
    "MedicalAlternative":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"String"},
        "Items":{"shape":"MedicalItemList"},
        "Entities":{"shape":"MedicalEntityList"}
      }
    },
    "MedicalAlternativeList":{
      "type":"list",
      "member":{"shape":"MedicalAlternative"}
    },
    "MedicalContentIdentificationType":{
      "type":"string",
      "enum":["PHI"]
    },
    "MedicalEntity":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Category":{"shape":"String"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"}
      }
    },
    "MedicalEntityList":{
      "type":"list",
      "member":{"shape":"MedicalEntity"}
    },
    "MedicalItem":{
      "type":"structure",
      "members":{
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "Type":{"shape":"ItemType"},
        "Content":{"shape":"String"},
        "Confidence":{"shape":"Confidence"},
        "Speaker":{"shape":"String"}
      }
    },
    "MedicalItemList":{
      "type":"list",
      "member":{"shape":"MedicalItem"}
    },
    "MedicalResult":{
      "type":"structure",
      "members":{
        "ResultId":{"shape":"String"},
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "IsPartial":{"shape":"Boolean"},
        "Alternatives":{"shape":"MedicalAlternativeList"},
        "ChannelId":{"shape":"String"}
      }
    },
    "MedicalResultList":{
      "type":"list",
      "member":{"shape":"MedicalResult"}
    },
    "MedicalTranscript":{
      "type":"structure",
      "members":{
        "Results":{"shape":"MedicalResultList"}
      }
    },
    "MedicalTranscriptEvent":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"MedicalTranscript"}
      },
      "event":true
    },
    "MedicalTranscriptResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{"shape":"MedicalTranscriptEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "ModelName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "NumberOfChannels":{
      "type":"integer",
      "min":2
    },
    "PartialResultsStability":{
      "type":"string",
      "enum":[
        "high",
        "medium",
        "low"
      ]
    },
    "PiiEntityTypes":{
      "type":"string",
      "max":300,
      "min":1,
      "pattern":"^[A-Z_, ]+"
    },
    "RequestId":{"type":"string"},
    "Result":{
      "type":"structure",
      "members":{
        "ResultId":{"shape":"String"},
        "StartTime":{"shape":"Double"},
        "EndTime":{"shape":"Double"},
        "IsPartial":{"shape":"Boolean"},
        "Alternatives":{"shape":"AlternativeList"},
        "ChannelId":{"shape":"String"},
        "LanguageCode":{"shape":"LanguageCode"},
        "LanguageIdentification":{"shape":"LanguageIdentification"}
      }
    },
    "ResultList":{
      "type":"list",
      "member":{"shape":"Result"}
    },
    "ServiceUnavailableException":{
      "type":"structure",
      "members":{
        "Message":{"shape":"String"}
      },
      "error":{"httpStatusCode":503},
      "exception":true
    },
    "SessionId":{
      "type":"string",
      "max":36,
      "min":36,
      "pattern":"[a-fA-F0-9]{8}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{4}-[a-fA-F0-9]{12}"
    },
    "Specialty":{
      "type":"string",
      "enum":[
        "PRIMARYCARE",
        "CARDIOLOGY",
        "NEUROLOGY",
        "ONCOLOGY",
        "RADIOLOGY",
        "UROLOGY"
      ]
    },
    "Stable":{"type":"boolean"},
    "StartMedicalStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "LanguageCode",
        "MediaSampleRateHertz",
        "MediaEncoding",
        "Specialty",
        "Type",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "Specialty":{
          "shape":"Specialty",
          "location":"header",
          "locationName":"x-amzn-transcribe-specialty"
        },
        "Type":{
          "shape":"Type",
          "location":"header",
          "locationName":"x-amzn-transcribe-type"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{"shape":"AudioStream"},
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "ContentIdentificationType":{
          "shape":"MedicalContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        }
      },
      "payload":"AudioStream"
    },
    "StartMedicalStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "Specialty":{
          "shape":"Specialty",
          "location":"header",
          "locationName":"x-amzn-transcribe-specialty"
        },
        "Type":{
          "shape":"Type",
          "location":"header",
          "locationName":"x-amzn-transcribe-type"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "TranscriptResultStream":{"shape":"MedicalTranscriptResultStream"},
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "ContentIdentificationType":{
          "shape":"MedicalContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        }
      },
      "payload":"TranscriptResultStream"
    },
    "StartStreamTranscriptionRequest":{
      "type":"structure",
      "required":[
        "MediaSampleRateHertz",
        "MediaEncoding",
        "AudioStream"
      ],
      "members":{
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "AudioStream":{"shape":"AudioStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        }
      },
      "payload":"AudioStream"
    },
    "StartStreamTranscriptionResponse":{
      "type":"structure",
      "members":{
        "RequestId":{
          "shape":"RequestId",
          "location":"header",
          "locationName":"x-amzn-request-id"
        },
        "LanguageCode":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-code"
        },
        "MediaSampleRateHertz":{
          "shape":"MediaSampleRateHertz",
          "location":"header",
          "locationName":"x-amzn-transcribe-sample-rate"
        },
        "MediaEncoding":{
          "shape":"MediaEncoding",
          "location":"header",
          "locationName":"x-amzn-transcribe-media-encoding"
        },
        "VocabularyName":{
          "shape":"VocabularyName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-name"
        },
        "SessionId":{
          "shape":"SessionId",
          "location":"header",
          "locationName":"x-amzn-transcribe-session-id"
        },
        "TranscriptResultStream":{"shape":"TranscriptResultStream"},
        "VocabularyFilterName":{
          "shape":"VocabularyFilterName",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-name"
        },
        "VocabularyFilterMethod":{
          "shape":"VocabularyFilterMethod",
          "location":"header",
          "locationName":"x-amzn-transcribe-vocabulary-filter-method"
        },
        "ShowSpeakerLabel":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-show-speaker-label"
        },
        "EnableChannelIdentification":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-channel-identification"
        },
        "NumberOfChannels":{
          "shape":"NumberOfChannels",
          "location":"header",
          "locationName":"x-amzn-transcribe-number-of-channels"
        },
        "EnablePartialResultsStabilization":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-enable-partial-results-stabilization"
        },
        "PartialResultsStability":{
          "shape":"PartialResultsStability",
          "location":"header",
          "locationName":"x-amzn-transcribe-partial-results-stability"
        },
        "ContentIdentificationType":{
          "shape":"ContentIdentificationType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-identification-type"
        },
        "ContentRedactionType":{
          "shape":"ContentRedactionType",
          "location":"header",
          "locationName":"x-amzn-transcribe-content-redaction-type"
        },
        "PiiEntityTypes":{
          "shape":"PiiEntityTypes",
          "location":"header",
          "locationName":"x-amzn-transcribe-pii-entity-types"
        },
        "LanguageModelName":{
          "shape":"ModelName",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-model-name"
        },
        "IdentifyLanguage":{
          "shape":"Boolean",
          "location":"header",
          "locationName":"x-amzn-transcribe-identify-language"
        },
        "LanguageOptions":{
          "shape":"LanguageOptions",
          "location":"header",
          "locationName":"x-amzn-transcribe-language-options"
        },
        "PreferredLanguage":{
          "shape":"LanguageCode",
          "location":"header",
          "locationName":"x-amzn-transcribe-preferred-language"
        }
      },
      "payload":"TranscriptResultStream"
    },
    "String":{"type":"string"},
    "Transcript":{
      "type":"structure",
      "members":{
        "Results":{"shape":"ResultList"}
      }
    },
    "TranscriptEvent":{
      "type":"structure",
      "members":{
        "Transcript":{"shape":"Transcript"}
      },
      "event":true
    },
    "TranscriptResultStream":{
      "type":"structure",
      "members":{
        "TranscriptEvent":{"shape":"TranscriptEvent"},
        "BadRequestException":{"shape":"BadRequestException"},
        "LimitExceededException":{"shape":"LimitExceededException"},
        "InternalFailureException":{"shape":"InternalFailureException"},
        "ConflictException":{"shape":"ConflictException"},
        "ServiceUnavailableException":{"shape":"ServiceUnavailableException"}
      },
      "eventstream":true
    },
    "Type":{
      "type":"string",
      "enum":[
        "CONVERSATION",
        "DICTATION"
      ]
    },
    "VocabularyFilterMethod":{
      "type":"string",
      "enum":[
        "remove",
        "mask",
        "tag"
      ]
    },
    "VocabularyFilterName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    },
    "VocabularyName":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":"^[0-9a-zA-Z._-]+"
    }
  }
}
